// Cores globais
$primary-color: #007bff;
$secondary-color: #6c757d;
$background-color: #f8f9fa;
$text-color: #212529;
$blue-menu:#012a5b;

//test
$red-color-test: red

//pallet colors
/* #d6e2fc
#9abbf8
#4995F3
#2b70be
#1b4d86
#0d2d52
#031124 */

//paleta baseada no azul escuro #012a5b;
/* :root {
    --color-1: #01295b;
    --color-2: #1f507a;
    --color-3: #3c7c9a;
    --color-4: #a3d5e0;
    --color-5: #f0e2c7;
  } */
 